@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:ital,wght@1,300;1,400&display=swap');


body{
    font-family: 'Inter', sans-serif;
}

:root{
    --primary-color:  #ff80b3;
    --secondary-color: #ffe6f0;
    --tertiary-color: #ffb3d1;


}

hr{
    margin: 2rem 1rem;
}

.navigation-container{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-radius: 1rem 1rem;
    background-color: var(--primary-color);
    color: white;
    padding: 1.5rem 1.5rem;
}

.link{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.2rem 1rem;
    box-sizing: border-box;
    
}

.list-non-bullet{
    list-style: none;
    text-decoration: none;
}

.link-active{
    font-weight: bold;
}

.nav-brand{
    font-weight:bold;
    font-size: x-large;
}

.nav-pills{
    text-align: right;
}

.list-items-inline{
    display: inline;
    padding: 0rem 2rem;
}

.head{
    padding: 2rem;
    padding-top:  2rem;
}

.head .header-img {
    max-width: 60%;
    width: 350rem;
    display: block;
    margin: auto;
}

.head .header-heading{
    text-align: center;
    padding-top: 1rem;
    color: black;
    font-size: x-large;
}

.head .header-heading .heading-inverted{
    color: var(--primary-color);
    font-weight: bold;
}

.section {
    padding: 1.5rem;
}

.section h1{
    text-align: center;
    }

.ow {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}

.container-center{
    max-width: 350px;
    margin: auto;
    text-align: center;
}

.primary-color{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem 1rem;
    max-width: 140px;
    margin: 1rem 1rem;
}

.footer{
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}

.footer .links{
    color: white;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .list-items-inline{
    padding: 2rem 2rem;
}

.project-title{
    font-size: x-large;
    font-weight: bold;
}

